@charset "utf-8";
/* CSS Document */

#icerik-tasiyici {
 background-image: url("img/mail-arkaplan.jpg");
 height: 482px;
 width: 870px;
 border: 1px solid #000;
}
.boyut {
 width: 383px;
}
.iletisim {
 color: #ec6700;
 font-size: 30px;
 padding-left: 20px;
}
.yildiz {
 font-size: 15px;
 color: #ec6700;
}
.zorunlu-alan {
 color: #ec6700;
 text-align: right;
}
.gonder {
 color: #FFF;
 background-color: #F60;
 height: 40px;
 text-align: right;
 width: 70px;
 border:radius;
}
.temizle {
 color: #FFF;
 background-color: #F60;
 height: 40px;
 text-align: right;
 width: 70px;
 border:radius;
}
.mesaj {
 color: #999;
 text-align: right;
 font-size: 20px;
 padding-bottom: 100px;
}

.yazi {
 text-align: right;
 font-size: 20px;
 color: #999;

}